    <footer>
        <link rel="stylesheet" href="/css/style.css">
        
        <div class="container text-center" id="myLogo">
            <img src="/img/frankDev.png" width="280rem" alt="">
        </div>

        <!-- <h3 style="text-align: center; margin-top: 2rem;" id="text">Copyright &copy; 2022</h3> -->
        
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/all.min"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="/js/main.js"></script>
    </footer>
    
    